<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.zerock.springex.mapper.TodoMapper">

    <select id="getTime" resultType="string">
        select now()
    </select>

    <insert id="insert">
        insert into tbl_todo (title, dueDate, writer)
        values (#{title}, #{dueDate}, #{writer})
    </insert>

    <select id="selectAll" resultType="org.zerock.springex.domain.TodoVO">
        select *
        from tbl_todo
        order by tno desc
    </select>

    <select id="selectOne" resultType="org.zerock.springex.domain.TodoVO">
        select *
        from tbl_todo
        where tno = #{tno}
    </select>

    <delete id="delete">
        delete
        from tbl_todo
        where tno = #{tno}
    </delete>

    <update id="update">
        update tbl_todo
        set title    = #{title},
            dueDate  = #{dueDate},
            finished = #{finished}
        where tno = #{tno}
    </update>

    <!--  tbl_todo 테이블에서 데이터를 동적으로 가져오는 SELECT 문을 생성  -->
    <!-- <where> 태그는 조건이 동적으로 추가될 수 있는 부분
        <if test=조건>을 이용해서 types 배열이 null이 아니고 길이가 0보다 큰 경우에만 조건절이 추가될 수 있도록 설정
        <foreach collection="types" item="type" open="(" close=")" separator="OR"> 조건을 이용해서 조건은 괄호로 묶이고, 각 조건들은(<if>로 추가되는 쿼리문)은 OR로 구분
     -->
    <!-- <trim> 태그는 불필요한 접두사나 접미사, 또는 특정 조건에 따라 제거하거나 추가해야 하는 문자열을 다루는 데 사용

        (주요 속성)

prefix : 조건에 맞는 부분이 추가될 때 앞에 추가되는 문자열
suffix : 조건에 맞는 부분이 추가될 때 뒤에 추가되는 문자열
prefixOverrides : 조간에 맞는 부분이 추가될 때 제거할 접두사 문자열 목록
suffixOverrides : 조간에 맞는 부분이 추가될 때 제거할 접두사 문자열 목록

        finished / from-to 값이 존재하면 실행
        <trim> 태그가 조건이 있다면 조건 앞에 and를 추가하여 SQL문을 동적으로 생성
     -->
    <sql id="search">
        <where>
            <if test="types != null and types.length > 0">
                <foreach collection="types" item="type" open="(" close=")" separator=" OR">
                    <if test="type == 't'.toString()">
                        title like concat('%', #{keyword}, '%')
                    </if>
                    <if test="type == 'w'.toString()">
                        writer like concat('%', #{keyword}, '%')
                    </if>
                </foreach>
            </if>

            <if test="finished">
                <trim prefix="and">
                    finished = 1
                </trim>
            </if>

            <if test="from != null and to != null">
                <trim prefix="and">
                    dueDate between #{from} and #{to}
                </trim>
            </if>
        </where>
    </sql>

    <select id="selectList" resultType="org.zerock.springex.domain.TodoVO">
        select * from tbl_todo
        <include refid="search"></include>
        order by tno desc limit #{skip}, #{size}
    </select>

    <select id="getCount" resultType="int">
        select count(tno) from tbl_todo
        <include refid="search"></include>
    </select>
</mapper>
